h2
  | {{ booksCtrl.book.name }}
div.alert.alert-info(ng-show="booksCtrl.message" role="alert")
  | {{ booksCtrl.message }}
img(ng-src="{{ booksCtrl.book.imageUrl }}")
h3
  strong
    | {{ 'BOOKS.AUTHOR' | translate }}
  br
  | {{ booksCtrl.book.author }}
h3
  strong
    | {{ 'BOOKS.PUBLISHER' | translate }}
  br
  | {{ booksCtrl.book.publisher }}
h3
  strong
    | {{ 'BOOKS.YEAR' | translate }}
  br
  | {{ booksCtrl.book.year }}
.btn.btn-info(ui-sref="main.rent({ id: booksCtrl.book.objectId })")
  | {{ 'RENT.BUTTON' | translate }}
