h1
  | {{ 'USER.UPDATE_PASSWORD' | translate }}

form(name='passwordForm', ng-submit="passwordCtrl.updatePassword()", novalidate)
  .form-group
    label
      | {{ 'USER.PASSWORD' | translate }}
    input.form-control(type='password', name='password', ng-model='passwordCtrl.password', ng-minlength="8", required)
    p.help-block(ng-show="passwordForm.password.$invalid && passwordForm.password.$dirty")
      | {{ 'USER.SHORT_PASSWORD' | translate }}

  .form-group
    label
      | {{ 'USER.CONFIRM_PASSWORD' | translate }}
    input.form-control(type='password', name='confirmPassword', ng-model='passwordCtrl.confirmPassword', match-to='passwordCtrl.password',  required)
    p.help-block(ng-show="passwordForm.confirmPassword.$invalid && passwordForm.confirmPassword.$dirty")
      | {{ 'USER.INVALID_CONFIRM_PASSWORD' | translate }}

  button.btn.btn-primary(type="submit", ng-disabled="passwordForm.$invalid")
    | {{ 'SUBMIT' | translate }}
