.center
  nav.navbar
    ul.list-inline.text-right
      li
        a.btn.btn-default(ui-sref='main.home', ng-show='mainCtrl.logged()')
          | {{ 'HOME' | translate }}
      li
        a.btn.btn-default(ng-click='mainCtrl.logOut()', ng-show='mainCtrl.logged()')
          | {{ 'LOG_OUT' | translate }}
      li
        a.btn.btn-default(ui-sref='main.log_in', ng-show='!mainCtrl.logged()')
          | {{ 'LOG_IN' | translate }}
      li
        a.btn.btn-default(ui-sref='main.sign_up', ng-show='!mainCtrl.logged()')
          | {{ 'SIGN_UP' | translate }}

  div(ui-view='content')
